{% load static %}

<!DOCTYPE html>
<html dir="rtl">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>نبض تندرستی</title>	

		<meta name="keywords" content="HTML5 Template">
		<meta name="description" content="در نبض تندرستی با جدیدترین اطلاعات پزشکی، توصیه های سبک زندگی سالم و نکات کاربردی طب سنتی همراه شما هستیم. هدف ما ترویج سلامتی، پیشگیری از بیماری و ارائه راهکارهای ساده و علمی برای داشتن زندگی شاد و سالم است.">
		<meta name="author" content="okler.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'app_blog/vendor/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'app_blog/vendor/fontawesome-free/css/all.min.css' %}">
		<link rel="stylesheet" href="{% static 'app_blog/vendor/animate/animate.min.css' %}">
		<link rel="stylesheet" href="{% static 'app_blog/vendor/simple-line-icons/css/simple-line-icons.min.css' %}">
		<link rel="stylesheet" href="{% static 'app_blog/vendor/owl.carousel/assets/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'app_blog/vendor/owl.carousel/assets/owl.theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'app_blog/vendor/magnific-popup/magnific-popup.min.css' %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'app_blog/css/theme.css' %}">
		<link rel="stylesheet" href="{% static 'app_blog/css/theme-elements.css' %}">
		<link rel="stylesheet" href="{% static 'app_blog/css/theme-blog.css' %}">
		<link rel="stylesheet" href="{% static 'app_blog/css/theme-shop.css' %}">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="{% static 'app_blog/vendor/rs-plugin/css/settings.css' %}">
		<link rel="stylesheet" href="{% static 'app_blog/vendor/rs-plugin/css/layers.css' %}">
		<link rel="stylesheet" href="{% static 'app_blog/vendor/rs-plugin/css/navigation.css' %}">
		
		<!-- Demo CSS -->


		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'app_blog/css/skins/default.css' %}"> 

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'app_blog/css/custom.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'app_blog/vendor/modernizr/modernizr.min.js' %}"></script>

	</head>
	
	{% block content %}

	{% endblock %}

			<footer id="footer" class="bg-color-light-scale-1 border-top-0">
				<div class="container pt-3">
					<div class="row py-5 my-4">
						<div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
							<h3 class="text-3 text-dark mb-3 font-weight-bold">درباره بلاگ</h3>
							<p>در نبض تندرستی تلاش داریم با ارائه جدیدترین اطلاعات پزشکی، توصیه‌های سبک زندگی سالم و نکات کاربردی طب سنتی، همراه و مشاور شما در مسیر سلامتی باشیم. مطالب این وبلاگ با هدف ترویج عادت‌های سالم، پیشگیری از بیماری‌ها و به اشتراک‌گذاری راهکارهای علمی و طبیعی برای داشتن زندگی شاداب‌تر تهیه می‌شوند. اینجا می‌توانید به ترکیبی از علم پزشکی روز و آموزه‌های طب سنتی ایرانی دسترسی داشته باشید و قدمی به سوی سلامتی بردارید.</p>
							<p class="mb-0">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه</p>
							<p class="mb-0"><a href="index-blog-2.html#" class="btn-flat btn-xs p-relative top-5"><strong class="text-2">مشاهده بیشتر</strong><i class="fas fa-angle-left align-middle pl-2"></i></a></p>
						</div>
						<div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
							<h3 class="text-3 text-dark mb-3 font-weight-bold">مطالب اخیر</h3>
							<ul class="list-unstyled mb-0">
								<li class="media mb-3 pb-1">
									<article class="d-flex">
										<a href="index-blog-2.html#">
											<img class="mr-3 rounded-circle" src="{% static 'app_blog/img/office/our-office-4-square.jpg' %}" alt="The post image" style="max-width: 70px;">
										</a>
										<div class="media-body">
											<a href="index-blog-2.html#">
												<h4 class="text-color-default font-weight-normal line-height-8 text-3 opacity-8 primary-font mb-1 mt-n1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از</h4>
												<p class="text-2 mb-0">28 تیر 12:53 ق.ظ</p>
											</a>
										</div>
									</article>
								</li>
								<li class="media">
									<article class="d-flex">
										<a href="index-blog-2.html#">
											<img class="mr-3 rounded-circle" src="{% static 'app_blog/img/office/our-office-5-square.jpg' %}" alt="The post image" style="max-width: 70px;">
										</a>
										<div class="media-body">
											<a href="index-blog-2.html#">
												<h4 class="text-color-default font-weight-normal line-height-8 text-3 opacity-8 primary-font mb-1 mt-n1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم</h4>
												<p class="text-2 mb-0">28 تیر 12:53 ق.ظ</p>
											</a>
										</div>
									</article>
								</li>
							</ul>
						</div>
						<div class="col-md-6 col-lg-3 mb-5 mb-md-0">
							<h3 class="text-3 text-dark mb-3 font-weight-bold">دیدگاه‌های جدید</h3>
							<ul class="list-unstyled mb-0">
								<li class="mb-3 pb-1">
									<a href="index-blog-2.html#">
										<p class="text-3 opacity-8 mb-1"><i class="fas fa-angle-left text-color-primary align-middle"></i><strong class="ml-2">جان اسنو</strong> دیدگاه در <strong class="text-color-primary">لورم ایپسوم متن ساختگی با تولید</strong></p>
										<p class="text-2 mb-0">19 تیر - 12:55 ق.ظ</p>
									</a>
								</li>
								<li>
									<a href="index-blog-2.html#">
										<p class="text-3 opacity-8 mb-1"><i class="fas fa-angle-left text-color-primary align-middle"></i><strong class="ml-2">جان اسنو</strong> دیدگاه در <strong class="text-color-primary">لورم ایپسوم متن ساختگی با تولید</strong></p>
										<p class="text-2 mb-0">19 تیر - 12:55 ق.ظ</p>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-6 col-lg-2">
							<h3 class="text-3 text-dark mb-3 font-weight-bold">دسته‌بندی ها</h3>
							<p class="mb-2">

								<a href="index-blog-2.html#"><span class="badge badge-dark bg-color-primary badge-sm py-2 mr-1 mb-2 text-uppercase">گجت ها</span></a>

								<a href="index-blog-2.html#"><span class="badge badge-dark bg-color-primary badge-sm py-2 mr-1 mb-2 text-uppercase">عکاسی</span></a>

								<a href="index-blog-2.html#"><span class="badge badge-dark bg-color-primary badge-sm py-2 mr-1 mb-2 text-uppercase">سبک زندگی</span></a>

								<a href="index-blog-2.html#"><span class="badge badge-dark bg-color-primary badge-sm py-2 mr-1 mb-2 text-uppercase">مد و زیبایی</span></a>

								<a href="index-blog-2.html#"><span class="badge badge-dark bg-color-primary badge-sm py-2 mr-1 mb-2 text-uppercase">دستور پخت</span></a>

								<a href="index-blog-2.html#"><span class="badge badge-dark bg-color-primary badge-sm py-2 mr-1 mb-2 text-uppercase">مسافرت</span></a>

								<a href="index-blog-2.html#"><span class="badge badge-dark bg-color-primary badge-sm py-2 mr-1 mb-2 text-uppercase">کسب و کار</span></a>
							</p>
						</div>
					</div>
				</div>
				<div class="footer-copyright footer-top-border bg-color-light-scale-1">
					<div class="container py-2">
						<div class="row py-4">
							<div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0 mt-1 mt-lg-0">
								<a href="http://0.0.0.0:8000/index.html" class="logo pr-0 pr-lg-3">
									<img alt="Porto Website Template" src="{% static 'app_blog/img/logo-footer-dark.png' %}" height="33">
								</a>
							</div>
							<div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0">
								<p>ارائه شده در وب‌سایت راست‌چین</p>
							</div>
							<div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
								<nav id="sub-menu">
									<ul>
										<li><i class="fas fa-angle-left"></i><a href="http://0.0.0.0:8000/page-faq.html" class="ml-1 text-decoration-none text-hover-dark"> سوالات متداول</a></li>
										<li><i class="fas fa-angle-left"></i><a href="http://0.0.0.0:8000/sitemap.html" class="ml-1 text-decoration-none text-hover-dark"> نقشه سایت</a></li>
										<li><i class="fas fa-angle-left"></i><a href="contact-us.html" class="ml-1 text-decoration-none text-hover-dark"> تماس با ما</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- Vendor -->
		<script src="{% static 'app_blog/vendor/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/jquery.appear/jquery.appear.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/jquery.cookie/jquery.cookie.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/popper/umd/popper.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/common/common.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/jquery.validation/jquery.validate.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/jquery.gmap/jquery.gmap.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/jquery.lazyload/jquery.lazyload.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/isotope/jquery.isotope.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/vide/jquery.vide.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/vivus/vivus.min.js' %}"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'app_blog/js/theme.js' %}"></script>
		
		<!-- Current Page Vendor and Views -->
		<script src="{% static 'app_blog/vendor/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
		<script src="{% static 'app_blog/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
		<script src="{% static 'app_blog/js/views/view.home.js' %}"></script>

		<!-- Theme Custom -->
		<script src="{% static 'app_blog/js/custom.js' %}"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{% static 'app_blog/js/theme.init.js' %}"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script>
		 -->

	</body>
</html>